#!/usr/bin/make -f

export PREFIX=/usr
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all CC=$(CC)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/nexfetch CC=$(CC)

override_dh_auto_clean:
	$(MAKE) clean
